body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  overflow: auto !important; /* Force it */
}